<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>v-bind实例</title>
        <script type="text/javascript" src="../assets/js/vue.js">
        </script>
        <style>
        .classA{
            color:rgb(68, 32, 212);
        }
        .classB{
            font-size:40px;
        }
        </style>

    </head>
    <body>
        <h1>v-bind</h1>
        <div id="app">
            <div>
                <h4>未绑定时</h4>
                    <img src="http://2b.zol-img.com.cn/product/131/741/ceUvYp3mRk5w.jpg" alt="">

                <h4>1、绑定到img标签src属性</h4>
                    <img v-bind:src="imgSrc" alt="">

                <h4>2、绑定到a标签的href属性</h4>
                    <a v-bind:href="herfUrl">zzilcc的博客</a>

                <h4>3、绑定到样式</h4>
                    <div v-bind:class="color">字体变成蓝色</div>
                    <div v-bind:class="font">字体变大</div>

                <h4>4、绑定到样式（可选择）</h4>
                    <div v-bind:class={classB:isOk}>字体变大
                        <input type="checkbox" id="isOk" v-model="isOk">
                        <label for="isOk">{{isOk}}</label>
                    </div>

                <h4>5、用三元运算符来选择样式(v-bind的缩写为:)</h4>
                    <div :class="isTrue?color:font">
                        <p>如果为true，则字体变蓝，否则字体变大</p>
                        <input type="checkbox" id="isTrue" v-model="isTrue">
                        <label for="isTrue">{{isTrue}}</label>
                    </div>

                <h4>6、绑定数组</h4>
                    <div :class=[color,font]>字体变蓝且变大</div>

                <h4>7、绑定对象</h4>
                    <div :style="Object1">字体变大且变红</div> 
        </div>
    </div>
        <script type="text/javascript">
            var app = new Vue({
                el : '#app',
                data:{
                    imgSrc:'http://2b.zol-img.com.cn/product/131/741/ceUvYp3mRk5w.jpg',
                    herfUrl:'http://zzilcc.github.io',
                    color:'classA',
                    font:'classB',
                    isOk:true,
                    isTrue:true,
                    Object1:{
                        color:'#ee0b26',
                        fontSize:'50px',
                    },

                    },

            });


        </script>
    </body>
</html>
