<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>v-for实例</title>
        <script type="text/javascript" src="../assets/js/vue.js">
        </script>
    </head>
    <body>
        <div id="app">
            <h1>v-for实践</h1>
            <ul>
                <li v-for="item in sortItems">
                    {{ item }}
                </li>
            </ul>
            <hr>
            <ul>
                <li v-for="(student,index) in  sortStudent">
                    {{index+1}}:{{ student.name }}-{{ student.age}}
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            var app = new Vue({
                el : '#app',
                data:{
                        items:[1,2,355,43,5,6,7,8],
                        students:[
                            {name:'Zzilcc',age:20},
                            {name:'Netcan',age:19},
                            {name:'Long',age:17},
                            {name:'Lily',age:18},
                        ]
                },
                computed: {
                    sortItems: function(){
                        return this.items.sort(sortNumber);
                    },
                    sortStudent: function(){
                        return sortByKey(this.students,'age');
                    },
                }
            });
            function sortNumber(a,b){
                return a-b;
            }
            function sortByKey(array,key){
                return array.sort(function(a,b){
                    var x=a[key];
                    var y=b[key];
                    return ((x<y)?-1:((x>y)?1:0));
                });
            }
        </script>
    </body>
</html>
