<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>v-for实例</title>
        <script type="text/javascript" src="../assets/js/vue.js">
        </script>
    </head>
    <body>
        <div id="app">
            <h1>v-for实践</h1>
            <h4>v-for主要用在循环中，要循环哪个标签就作用在哪个标签上</h4>
                <ul>
                    <li v-for="item in items">{{item}}</li>
                </ul>

            <h4>v-for还可以显示索引</h4>
                <ul>
                    <li v-for="(student,index1) in students">
                        {{index1}}-{{student.name}}-{{student.age}}
                    </li>
                </ul>
        </div>
        <script type="text/javascript">
            var app = new Vue({
                el : '#app',
                data:{
                    items:[1,44,3,22,532,3,3],
                    students:[
                        {name:'zzilcc',age:20},
                        {name:'hzq',age:19},
                        {name:'netcan',age:18},
                    ]
                },
                computed: {
                    },
            });
        </script>
    </body>
</html>
