<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>v-model实例</title>
        <script type="text/javascript" src="../assets/js/vue.js">
        </script>
    </head>
    <body>
        <h1>v-model</h1>
        <div id="app">
            <h4>1、v-model双向数据绑定到文本框</h4>
            <input type="text" v-model="message">
            <p>message={{message}}</p>

            <h4>v-model的三个修饰符.lazy,.number,.trim</h4>
            <p>v-model.lazy:懒加载，延时数据更新</p>
            <input type="text" v-model.lazy="message1">
            <p>message={{message1}}</p>
            <p>v-model.number：只能输入数字</p>
            <input type="text"  v-model.number="message2">
            <p>message={{message2}}</p>
            <p>v-model.trim：自动过滤空格，输入框内无空格</p>
            <input type="text" v-model.trim="message3">
            <p>message={{message3}}</p>

            <h4>2、绑定到单选框</h4>
            <input type="radio" id="one" value='男' v-model="sex">
            <label for="one">男</label>
            <input type="radio" id="two" value='女' v-model="sex">
            <label for="two">女</label>
            <p>你选择的性别是{{sex}}</p>

            <h4>3、绑定到数组</h4>
            <input type="checkbox" id="zzilcc" value="zilcc" v-model="web_names">
                <label for="zzilcc">zzilcc</label>
                <input type="checkbox" id="hzq" value="hzq" v-model="web_names">
                <label for="hzq">hzq</label>
                <input type="checkbox" id="zz" value="zz" v-model="web_names">
                <label for="hzq">zz</label>
                <p>{{web_names}}</p>
        </div>
        <script type="text/javascript">
            var app = new Vue({
                el : '#app',
                data:{
                    message:'hello world',
                    message1:'懒加载，延时数据更新',
                    message2:'11',
                    message3:'自动过滤空格，输入框内无空格',
                    sex:'',
                    web_names:[],
                },
                methods:{
                },
                computed: {

                }
            });


        </script>
    </body>
</html>
